body {
    width: 740px;
    margin: 0 auto;
}

li{
    margin-top: 30px;
}



#title {
    text-align: center;

}

#result-box {
    text-align: center;
}

#result-box--title {
    display: none;
}

#submit-box{
    text-align: right;
}





